<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!-- link aanpassen naar profiel van review poster-->
<div id="reviewblock">
  <!--- hier ng for each review --> 
<a href="#" class="list-group-item active">
  <div>
    <h4 class="list-group-item-heading"> Review titel</h4>
    <p>
      Grade:   &&*(*)
    </p>
    <p class="list-group-item-text">
      Hier review tekst hoi hoi hoi hoi hoi blllllllllllllllllllllllllllllllll
      llllllllllllllllllllllllllll
      lllllllllllllllllllllll
    </p>
    <p>
      Door:   hier profielnaam sdssd van poster
    </p>

  </div>
</a>
</div>
