a.list-group-item {
  height: auto;
  min-height: 100px;
  width: auto;
  padding-right: 5px !important;
  padding-left: 3px !important;
}


  a.list-group-item.active small {
    color: #fff;
    width: 100%;
  }

.col {
  flex: 1;
  padding: 5px !important;
}


