.container {
  display: flex;
  width: 100%;
}

.col {
  flex: 1;
  padding: 16px;
}

@media only screen and (max-width: 600px) {
  .col {

    display: block;
    width: 100%;

  /*
  align-items: center;
  flex-direction: column;
  font-size-adjust: initial;
  flex-wrap: wrap;*/
  }
}

#userblock {
  padding-right: 5px;
  width: 100%;
  /*
  display: flex;
  align-items: center;
  flex-direction: column;
  
  text-overflow: unset;
  overflow: hidden;
  flex-wrap: wrap;
    */
  border-right: 1px solid darkgrey !important;
}

  #userblock * {
    overflow: hidden;
  }

#userdescriptionblock {
  border-bottom: 1px solid darkgrey !important;
  padding-bottom: 2px !important;
}

#postreviewblock {
  width:inherit;
  border-bottom: 1px solid darkgrey !important;
  padding-bottom: 20px;
}
  #postreviewblock * {
    
    margin-bottom: 10px;
  } 
