
<!---Hier een ngfor -->
  <div class="card" style="width: rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">TITLE</h5><a href="#" class="card-link">Check userProfile</a>
      <p class="card-text">PostText</p>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Comments:</button>
    <div id="demo" class="collapse">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>

    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>

  </div>
