<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <mat-form-field>
    <input matInput placeholder="Enter your email" [formControl]="loginForm.controls['email']" required>
    <mat-error *ngIf="f.email.invalid">{{getErrorMessage(f.email)}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your password" type="password" [formControl]="loginForm.controls['password']" required>
    <mat-error *ngIf="f.password.invalid">{{getErrorMessage(f.password)}}</mat-error>
  </mat-form-field>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember me" />
      Remember me
    </label>
  </div>
  <p>Don't have an account <a [routerLink]="['/register']">register</a> </p>
  <button mat-raised-button class="" color="primary" type="submit">Sign in</button>
</form>
