<div class="card" style="width:100%; height:20%">
  <!-- <img [src]="imageSrc" (error)="onPictureError()" alt="John" style="width:100%"> -->
  <img class="img-fluid" *ngIf="imageSrc" [src]="imageSrc" (error)="onPictureError()" alt="Profile Picture" style="border-width: 2px;">
  <h1>{{user.firstname}} {{user.lastname}}</h1>
  <p class="title">{{user.username}}</p>
  <p>{{user.profileDescription}}</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a class="mat-raised-button" href="/profile">Profile</a>
</div>
