#newpostbutton {
  margin-top: 15px;
}

#streetinput {
  margin-right: 15px;
}

.address-expansion {
  padding-top: 16px;
}

.new-post {
  flex: 1;
  flex-direction: row;
  align-items: stretch;
  margin-right: 10px;
  width: 100%;
}

.street {
  width: 85%;
  margin-right: 2%;
}

.house-number {
  width: 13%;
}

.split-left {
  width: 49%;
  margin-right: 2%;
  min-width: 250px;
}

.split-right {
  width: 49%;
  min-width: 250px;
}
