<ng-template #content let-modal id="modal">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form class="form-profile" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <!---      <div class="form-group">
            <div class="form-group">
                <label for="usr">FirstName:</label>
                <input [(ngModel)]="firstname" name="fistname" type="text" class="form-control" id="usrfirstname">


                <label for="usr">LastName:</label>
                <input [(ngModel)]="lastname" name="lastname" type="text" class="form-control" id="usrlastname">


                <label for="usr">Password:</label>
                <input [(ngModel)]="password" name="password" type="password" class="form-control" id="pwd">
            </div>

            <label for="usr">street and Housenumber:</label><br>
            <input type="text"  [(ngModel)]="street" name="street" id="streetinput"><input  [(ngModel)]="housenumber" type="text" name="housenumber" maxlength="10" size="4"><br>
            <label for="usr">zipcode:</label><br>
            <input type="text" [(ngModel)]="zipcode" name="zipcode"><br>

            <label for="dateOfBirth">Date of birth</label>
            <div class="input-group">
                <input id="dateOfBirth" class="form-control" [(ngModel)]="date" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                </div>
            </div>
        </div> -->
          <div class="form-label-group">
              <input formControlName="firstname" id="inputFirstname" class="form-control" type="text" placeholder="firstname" required="" autofocus="" [ngClass]="{ 'is-invalid': f.email.dirty && f.email.errors }"
                     name="firstname" minLength="2" pattern="^[A-Za-z-. ]+$" (focus)="focusEmail=true" (blur)="focusEmail=false" />
              <label for="inputFirstname">Firstname</label>
              <div *ngIf="f.firstname.dirty && f.firstname.errors" class="invalid-feedback">
                  <div *ngIf="f.firstname.errors.required">This field is required</div>
              </div>
          </div>

          <div class="form-label-group">
              <input formControlName="lastname" id="inputLastname" class="form-control" type="text" placeholder="lastname" required="" autofocus="" [ngClass]="{ 'is-invalid': f.email.dirty && f.email.errors }"
                     name="lastname" minLength="2" pattern="^[A-Za-z-. ]+$" (focus)="focusEmail=true" (blur)="focusEmail=false" />
              <label for="inputLastname">Lastname</label>
              <div *ngIf="f.lastname.dirty && f.lastname.errors" class="invalid-feedback">
                  <div *ngIf="f.lastname.errors.required">This field is required</div>
              </div>
          </div>


          <div class="form-label-group">
              <input formControlName="street" id="inputStreet" class="form-control" type="text" placeholder="Street" required="" autofocus="" [ngClass]="{ 'is-invalid': f.email.dirty && f.email.errors }"
                     name="street" minLength="3" pattern="^[A-Za-z-. ]+$" (focus)="focusEmail=true" (blur)="focusEmail=false" />
              <label for="inputStreet">Street</label>
              <div *ngIf="f.street.dirty && f.street.errors" class="invalid-feedback">
                  <div *ngIf="f.street.errors.required">This field is required</div>
              </div>
          </div>

          <div class="form-label-group">
              <input formControlName="number" id="inputNumber" class="form-control" type="text" placeholder="Number" required="" autofocus="" [ngClass]="{ 'is-invalid': f.email.dirty && f.email.errors }"
                     name="lastname" minLength="2" pattern="^[0-9A-Za-b- ]+$" (focus)="focusEmail=true" (blur)="focusEmail=false" />
              <label for="inputNumber">Number</label>
              <div *ngIf="f.number.dirty && f.number.errors" class="invalid-feedback">
                  <div *ngIf="f.number.errors.required">This field is required</div>
              </div>
          </div>

          <div class="form-label-group">
              <input formControlName="zipCode" id="inputZipCode" class="form-control" type="text" placeholder="Zip Code" required="" autofocus="" [ngClass]="{ 'is-invalid': f.email.dirty && f.email.errors }"
                     name="zipCode" minLength="2" pattern="^[0-9]{4}[A-Z]{2}$" (focus)="focusEmail=true" (blur)="focusEmail=false" />
              <label for="inputZipCode">Zip Code</label>
              <div *ngIf="f.zipCode.dirty && f.zipCode.errors" class="invalid-feedback">
                  <div *ngIf="f.zipCode.errors.required">This field is required</div>
              </div>
          </div>

          <div class="form-label-group">
              <input formControlName="city" id="inputCity" class="form-control" type="text" placeholder="City" required="" autofocus="" [ngClass]="{ 'is-invalid': f.email.dirty && f.email.errors }"
                     name="city" minLength="2" pattern="^[A-Za-z-. ]+$" (focus)="focusEmail=true" (blur)="focusEmail=false" />
              <label for="inputCity">City</label>
              <div *ngIf="f.city.dirty && f.city.errors" class="invalid-feedback">
                  <div *ngIf="f.city.errors.required">This field is required</div>
              </div>
          </div>

          <div class="form-label-group">
              <input formControlName="email" id="inputEmail" class="form-control" type="email" placeholder="Email address" required="" autofocus="" [ngClass]="{ 'is-invalid': f.email.dirty && f.email.errors }"
                     name="email" minLength="12" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+.[A-Za-z]{2,}$" (focus)="focusEmail=true" (blur)="focusEmail=false" />
              <label for="inputEmail">Email address</label>
              <div *ngIf="f.email.dirty && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">This field is required</div>
                  <div *ngIf="f.email.errors.pattern">Please enter a valid email</div>
              </div>
          </div>


          <div class="form-label-group">
              <input formControlName="password" id="inputPassword" class="form-control" type="password" placeholder="Password" required=""
                     name="password" [ngClass]="{ 'is-invalid': f.password.dirty && f.password.errors }" />
              <label for="inputPassword">Password</label>
              <div *ngIf="f.password.dirty && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">This field is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be {{f.password.errors.minlength.requiredLength}} characters or longer</div>
              </div>
          </div>

          <div class="form-label-group">
              <input formControlName="repeatPassword" id="inputRepeatPassword" class="form-control" type="password" placeholder="Repeat Password" required=""
                     name="repeatPassword" [ngClass]="{ 'is-invalid': f.repeatPassword.dirty && f.repeatPassword.errors }" />
              <label for="inputRepeatPassword">Repeat Password</label>
              <div class="invalid-feedback" *ngIf="f.repeatPassword.dirty && f.repeatPassword.errors">
                  <div *ngIf="f.repeatPassword.errors.required">This field is required</div>
                  <div *ngIf="f.repeatPassword.errors.mustMatch">Passwords must match</div>
              </div>
          </div>

          <div class="form-label-group">
              <textarea rows="3" formControlName="profileDescription" id="inputProfileDescription" class="form-control" type="password" placeholder="Profile Description" required=""
                        name="profileDescription" [ngClass]="{ 'is-invalid': f.repeatPassword.dirty && f.repeatPassword.errors }">

              </textarea>
              <div class="invalid-feedback" *ngIf="f.repeatPassword.dirty && f.repeatPassword.errors">
                  <div *ngIf="f.repeatPassword.errors.required">This field is required</div>

              </div>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-bottom: 10px">update accountinformation</button>
      </form>
      <!--- </div>
       <!---
     <div class="modal-footer">
       <B> {{message}} </B>
       <button type="button" class="btn btn-outline-dark" (click)="close('Save click')">Save</button>
       <!-- modal.dismiss('Values saved')-->
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)" id="usersettingsbutton">Update profile information</button>


<!--- {{CloseResult}}--->
