<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <br /><br /><br /><br /><br />
  <a href="#"></a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<!-- Use any element to open the sidenav
<span onclick="openNav()">open</span> -->

<div id="main">

  <div class="container" style="margin-top:100px">
    <div class="row">
      <div class="col-lg-12 ">
        <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="view">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(46).jpg"            
                     alt="First slide">
                <div class="mask rgba-black-light"></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive">Lonely</h3>
                <h2>Sharing is carring</h2>
              </div>
            </div>
            <div class="carousel-item">
              <div class="view">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
                     alt="Second slide">
                <div class="mask rgba-black-strong"></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive">Share your food!</h3>
              </div>
            </div>
            <div class="carousel-item">
              <div class="view">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(17).jpg"
                     alt="Third slide">
                <div class="mask rgba-black-slight"></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive">Better world!</h3>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <br />



    </div>
    <div class="row">
      <div class="span8">
        <div class="row">
          <div class="span8">
            <h4><strong><a href="#">Title of the post</a></strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="span2">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </a>
          </div>
          <div class="span6">
            <p>
              Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
            </p>
            <p><a class="btn" href="#">Read more</a></p>
          </div>
        </div>
        <div class="row">
          <div class="span8">
            <p></p>
            <p>
              <i class="icon-user"></i> by <a href="#">John</a>
              | <i class="icon-calendar"></i> Sept 16th, 2012
              | <i class="icon-comment"></i> <a href="#">3 Comments</a>
              | <i class="icon-share"></i> <a href="#">39 Shares</a>
              | <i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a>
              <a href="#"><span class="label label-info">Bootstrap</span></a>
              <a href="#"><span class="label label-info">UI</span></a>
              <a href="#"><span class="label label-info">growth</span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="span8">
        <div class="row">
          <div class="span8">
            <h4><strong><a href="#">Title of the post</a></strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="span2">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </a>
          </div>
          <div class="span6">
            <p>
              Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="span8">
            <p></p>
            <p>
              <i class="icon-user"></i> by <a href="#">Mark</a>
              | <i class="icon-calendar"></i> Sept 16th, 2012
              | <i class="icon-comment"></i> <a href="#">3 Comments</a>
              | <i class="icon-share"></i> <a href="#">39 Shares</a>
              | <i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a>
              <a href="#"><span class="label label-info">Bootstrap</span></a>
              <a href="#"><span class="label label-info">UI</span></a>
              <a href="#"><span class="label label-info">growth</span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="span8">
        <div class="row">
          <div class="span8">
            <h4><strong><a href="#">Title of the post</a></strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="span2">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </a>
          </div>
          <div class="span6">
            <p>
              Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
            </p>
            <p><a href="#">Read more</a></p>
          </div>
        </div>
        <div class="row">
          <div class="span8">
            <p></p>
            <p>
              <i class="icon-user"></i> by <a href="#">Mark</a>
              | <i class="icon-calendar"></i> Sept 16th, 2012
              | <i class="icon-comment"></i> <a href="#">3 Comments</a>
              | <i class="icon-share"></i> <a href="#">39 Shares</a>
              | <i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a>
              <a href="#"><span class="label label-info">Bootstrap</span></a>
              <a href="#"><span class="label label-info">UI</span></a>
              <a href="#"><span class="label label-info">growth</span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
