<form class="form-register" #registerForm="ngForm">

  <h1 class="h3 mb-3 font-weight-normal">Register</h1>

  <div class="form-label-group">
    <input id="inputEmail" class="form-control" type="email" placeholder="Email address" required="" autofocus=""
           [(ngModel)]="model.email" name="email" #email="ngModel" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+.[A-Za-z]{2,}$" (focus)="focus=true" (blur)="focus=false"/>
    <label for="inputEmail">Email address</label>
    <div [hidden]="email.valid || email.pristine || focus"
         class="alert alert-danger">
      Please enter a valid email
    </div>
  </div>
  Todo remove this: {{ focus }}
  <div class="form-label-group">
    <input id="inputPassword" class="form-control" type="password" placeholder="Password" required=""
           [(ngModel)]="model.password" name="password" #name="ngModel"/>
    <label for="inputPassword">Password</label>
  </div>
  <div class="form-label-group">
    <label for="inputRepeatPassword">Repeat Password</label>
    <input id="inputRepeatPassword" class="form-control" type="password" placeholder="Repeat Password" required=""
           [(ngModel)]="model.repeatPassword" name="repeatPassword" />
  </div>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember me" />
      Remember me
    </label>
  </div>
  <p>Already have an account <a [routerLink]="['/login']">signin</a></p>
  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="onClick()">Create Account</button>
</form>

