<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" [style.max-height.px]="maxHeight">
  <img src="" />
  <a class='navbar-brand' [routerLink]='["/"]'>FoodShare.nl</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="viewport-navbar" [@collapse]="collapse" [style.display]="display">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]='["active"]'>
        <a class="nav-link" [routerLink]="['/map']" href="">Map</a>
      </li>
      <li class="nav-item" [routerLinkActive]='["active"]'>
        <a class="nav-link" [routerLink]="['/profile']">Profile</a>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" />
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
</nav>
